<template>
  <div class="home">
    <loading :active.sync="loading"></loading>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{username}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item to="/" link>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Inicio</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="papel === 'user'" to="/checks" link>
          <v-list-item-icon>
            <v-icon>mdi-star</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Checagens</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="papel === 'admin'" to="/add" link>
          <v-list-item-icon>
            <v-icon>mdi-account-check</v-icon>
          </v-list-item-icon>
          <v-list-item-title>monitorar</v-list-item-title>
        </v-list-item>
        <v-list-item @click="logout" link>
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Sair</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>gcheck</v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";

import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "Home",
  components: {
    Loading
  },
  data() {
    return {
      papel: "",
      loading: false,
      drawer: false,
      username: ""
    };
  },
  created() {
    this.getPapel();
  },
  methods: {
    getPapel() {
      this.loading = true;
      let user = sessionStorage.getItem("username");
      let token = sessionStorage.getItem("jwt");
      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + JSON.parse(token);
      let _dados = {
        username: JSON.parse(user)
      };
      this.$axios
        .post(`${process.env.VUE_APP_ROOT}/user/permissao`, _dados)
        .then(res => {
          const resultado = JSON.parse(JSON.stringify(res.data));
          if (resultado.username) {
            sessionStorage.setItem("name", JSON.stringify(resultado.name));
            sessionStorage.setItem(
              "veiculo_name",
              JSON.stringify(resultado.veiculo_name)
            );
            sessionStorage.setItem("placa", JSON.stringify(resultado.placa));
            sessionStorage.setItem(
              "data_criado",
              JSON.stringify(resultado.created_at)
            );
            sessionStorage.setItem(
              "papel",
              JSON.stringify(resultado.papeis.type)
            );
            this.papel = resultado.papeis.type;
            this.username = JSON.parse(user);
          } else {
            this.validatorMsg(
              "error",
              "Ocorreu um erro, tente realizar login novamente, caso o erro persista, entre contato com TI"
            );
          }
        })
        .catch(e => {
          console.error("Excecao ao buscar dados de usuario", e.message);
        })
        .finally(() => (this.loading = false));
    },
    logout() {
      sessionStorage.clear();
      this.$router.push("/login");
    }
  }
};
</script>
