<template>
  <div class="list-checks">
    <Nav />
    <v-container>
      <loading :active.sync="loading"></loading>
      <v-row>
        <p class="subheading font-weight-regular text-center">
          Olá {{nameUser}}, abaixo você possui a quantidade de checks que foram feitos e voces possui
          <b>{{totalChecks}}</b>
          <v-icon>mdi-checkbox-marked-outline</v-icon>.
        </p>
      </v-row>
      <v-row>
        <v-col>
          <v-card v-if="checks.length >0">
            <v-list-item three-line v-for="(ck, index) in checks" :key="index">
              <v-list-item-content>
                <v-list-item-title>
                  <v-icon>mdi-car</v-icon>
                  {{placa}}
                </v-list-item-title>
                <v-list-item-subtitle>{{ck.created_at}}</v-list-item-subtitle>
                <hr />
              </v-list-item-content>
            </v-list-item>

            <v-alert v-if="errorMost" type="error">Você ultrapassou o limite para trafegar</v-alert>
            <v-alert
              v-if="warningTrafego"
              type="warning"
            >Você não deve trafegar, próxima abordagem as autoridades tomaram medidas cabíveis</v-alert>
          </v-card>
          <v-card v-else>
            <h3>Você não possui checks</h3>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/shared/_Nav";

import Loading from "vue-loading-overlay";

import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "ListChecks",
  components: {
    Nav,
    Loading
  },
  data: () => ({
    nameUser: "visitante",
    checks: [],
    loading: false,
    placa: "",
    totalChecks: 0,
    errorMost: false,
    warningTrafego: false,
    totalChecksUsers: 0
  }),
  created() {
    this.getDadosUser();
  },
  methods: {
    getDadosUser() {
      let token = sessionStorage.getItem("jwt");
      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + JSON.parse(token);

      this.$axios
        .get(`${process.env.VUE_APP_ROOT}/user/checks`)
        .then(res => {
          const resultado = JSON.parse(JSON.stringify(res.data));
          if (resultado.username) {
            this.nameUser = resultado.name;

            this.placa = resultado.placa;
            this.nameVeiculo = resultado.veiculo_name;
            this.checks = resultado.checks;
            this.totalChecks = resultado.checks.length;

            this.checks.forEach(element => {
              this.totalChecksUsers += element.contagem;
            });

            if (this.totalChecksUsers === 3) {
              this.warningTrafego = true;
            }
            if (this.totalChecksUsers > 3) {
              this.errorMost = true;
            }
          } else {
            this.validatorMsg(
              "error",
              "Ocorreu um erro, tente realizar login novamente, caso o erro persista, entre contato com TI"
            );
          }
        })
        .catch(e => {
          console.error("Excecao ao buscar dados de usuario", e.message);
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>
