<template>
  <div class="mont-users">
    <Nav />
    <v-container>
      <loading :active.sync="loading"></loading>

      <v-card class="mx-auto" max-width="344">
        <v-text-field v-model="documento" label="Digite documento" filled hint="sem hífen e ponto"></v-text-field>
      </v-card>
      <!-- <v-col>
        <v-row>
          <v-card class="mx-auto" max-width="400" v-if="name_Motorista" tile>
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title>{{name_Motorista}}</v-list-item-title>
                <v-list-item-subtitle>{{veiculo_name}}</v-list-item-subtitle>
                <v-list-item-subtitle>{{placa}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-row>
      </v-col>-->

      <v-row v-if="checks.length > 0">
        <v-col>
          <v-card>
            <v-list-item three-line v-for="(ck, index) in checks" :key="index">
              <v-list-item-content>
                <v-list-item-title>
                  <v-icon>mdi-car</v-icon>
                  {{placa}} || {{name_Motorista}}
                </v-list-item-title>
                <v-list-item-subtitle>{{ck.created_at}}</v-list-item-subtitle>
                <hr />
              </v-list-item-content>
            </v-list-item>
            <v-alert v-if="errorMost" type="error">Você ultrapassou o limite para trafegar</v-alert>
            <v-alert
              v-if="warningTrafego"
              type="warning"
            >O {{name_Motorista}} não deve trafegar, próxima abordagem as autoridades tomarão medidas cabíveis</v-alert>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-7">
        <v-col class="text-center" cols="12">
          <div class="my-4">
            <v-btn large color="primary" @click="getDadosUser">Buscar pessoa</v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row class="mb-7">
        <v-col class="text-center" cols="12">
          <div class="my-4" v-if="name_Motorista">
            <v-btn large color="success" @click="addCheck">
              Adicionar check
              <v-icon>mdi-check-all</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-alert v-if="msgApi" :type="typeMsg">{{msgApi}}</v-alert>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/shared/_Nav";

import Loading from "vue-loading-overlay";

import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "AddCheck",
  components: {
    Nav,
    Loading
  },
  data: () => ({
    loading: false,
    documento: "",
    placa: "",
    totalChecks: 0,
    errorMost: false,
    warningTrafego: false,
    checks: [],
    name_Motorista: "",
    veiculo_name: "",
    typeMsg: "",
    msgApi: "",
    totalChecksUsers: 0
  }),
  methods: {
    getDadosUser() {
      if (this.documento == "") {
        return this.validatorMsg("warning", "informe o documento");
      }
      this.loading = true;
      this.totalChecksUsers = 0;
      this.typeMsg = "";
      this.msgApi = "";
      this.warningTrafego = false;
      this.errorMost = false;
      let token = sessionStorage.getItem("jwt");
      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + JSON.parse(token);

      this.$axios
        .get(`${process.env.VUE_APP_ROOT}/admin/user/get/${this.documento}`)
        .then(res => {
          const resultado = JSON.parse(JSON.stringify(res.data));
          if (resultado.username) {
            this.name_Motorista = resultado.name;
            this.placa = resultado.placa;
            this.nameVeiculo = resultado.veiculo_name;
            this.checks = resultado.checks;
            this.totalChecks = resultado.checks.length;

            this.checks.forEach(element => {
              this.totalChecksUsers += element.contagem;
            });

            if (this.totalChecksUsers === 3) {
              this.warningTrafego = true;
            }
            if (this.totalChecksUsers > 3) {
              this.errorMost = true;
            }

            (this.msgApi = ""), (this.typeMsg = "");
          } else {
            this.validatorMsg("info", resultado.error);
          }
        })
        .catch(e => {
          console.error("Excecao ao buscar dados de usuario", e.message);
          alert("Ocorreu erro, caso persista, favor entrar em contato " + e.message)
        })
        .finally(() => (this.loading = false));
    },
    getStatus() {
      if (this.totalChecks > 3) {
        this.errorMost = true;
      }
      if ((this.totalChecks = 3)) {
        this.warningTrafego = true;
      }
    },
    validatorMsg(tipo, msg) {
      if (tipo != null && msg != null) {
        this.msgApi = msg;
        this.typeMsg = tipo;
      } else {
        this.msgApi = "Você realizou processo não mapeado";
        this.typeMsg = "info";
      }
      //success info  warning  error
    },
    addCheck() {
      this.warningTrafego = false;
      this.errorMost = false;
      this.msgApi = "";
      this.typeMsg = "";

      this.loading = true;
      let token = sessionStorage.getItem("jwt");
      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + JSON.parse(token);

      let _dados = {
        documento: this.documento
      };
      this.$axios
        .post(`${process.env.VUE_APP_ROOT}/admin/add`, _dados)
        .then(res => {
          const resultado = JSON.parse(JSON.stringify(res.data));
          if (resultado.ok) {
            let quanticks = resultado.qtnChecks;

            if (quanticks === 3) {
              this.warningTrafego = true;
            }
            if (quanticks > 3) {
              this.errorMost = true;
            }
            this.getDadosUser();
            this.validatorMsg("success", resultado.ok);
          } else {
            this.validatorMsg("info", resultado.error);
          }
        })
        .catch(e => {
          console.error("Excecao ao buscar dados de usuario", e.message);
        })
        .finally(() => (this.loading = false));
    }
    // watch: {
    //   checks: function() {
    //     this.loading = true;
    //     this.totalChecksUsers = 0;
    //     let token = sessionStorage.getItem("jwt");
    //     this.$axios.defaults.headers.common["Authorization"] =
    //       "Bearer " + JSON.parse(token);

    //     this.$axios
    //       .get(`${process.env.VUE_APP_ROOT}/admin/user/get/${this.documento}`)
    //       .then(res => {
    //         const resultado = JSON.parse(JSON.stringify(res.data));
    //         if (resultado.username) {
    //           this.name_Motorista = resultado.name;
    //           this.placa = resultado.placa;
    //           this.nameVeiculo = resultado.veiculo_name;
    //           this.checks = resultado.checks;
    //           this.totalChecks = resultado.checks.length;

    //           this.checks.forEach(element => {
    //             this.totalChecksUsers += element.contagem;
    //           });

    //           if (this.totalChecksUsers === 3) {
    //             this.warningTrafego = true;
    //           }
    //           if (this.totalChecksUsers > 3) {
    //             this.errorMost = true;
    //           }

    //           (this.msgApi = ""), (this.typeMsg = "");
    //         } else {
    //           this.validatorMsg("info", resultado.error);
    //         }
    //       })
    //       .catch(e => {
    //         console.error("Excecao ao buscar dados de usuario", e.message);
    //       })
    //       .finally(() => (this.loading = false));
    //   }
    // }
  }
};
</script>
