<template>
  <div>
    <v-container>
      <loading :active.sync="loading"></loading>
      <v-row>
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3 text-center">Cadastre seus dados</h1>
          <div lazy-validation>
            <v-text-field v-model="name" :rules="nameRules" label="Seu nome completo" required></v-text-field>

            <v-text-field v-model="username" :rules="usernameRules" label="Seu usúario" required></v-text-field>

            <v-text-field
              v-model="documento"
              :rules="docRules"
              hint="sem hífen e ponto"
              label="Cpf ou Cnpj"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passRules"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Digite sua senha"
              hint="Mínimo 6 caracteres"
              counter
              @click:append="show1 = !show1"
            ></v-text-field>

            <v-text-field
              v-model="veiculo_name"
              :rules="carroRules"
              label="Modelo do seu veiculo"
              required
            ></v-text-field>

            <v-text-field v-model="placa" :rules="placaRules" label="Número da placa" required></v-text-field>

            <v-btn color="success" v-if="placa" class="mr-4" @click="cadastro">Salvar</v-btn>
          </div>
        </v-col>
      </v-row>
      <v-alert v-if="msgApi" :type="typeMsg">{{msgApi}}</v-alert>
      <p class="subheading font-weight-regular">
        Após cadastrado seus dados você pode acessar área para realizar login ,
        <router-link to="/login">aqui</router-link>
      </p>
    </v-container>
  </div>
</template>

<script>
// Import component
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    Loading
  },
  data() {
    return {
      show1: false,
      nameRules: [v => !!v || "Nome é obrigatório"],
      name: "",
      usernameRules: [v => !!v || "Usúario é obrigatório"],
      username: "",
      docRules: [v => !!v || "Número do documento é obrigatório"],
      documento: "",
      passRules: [v => !!v || "Usúario é obrigatório"],
      password: "",
      carroRules: [v => !!v || "Campo Modelo é obrigatório"],
      veiculo_name: "",
      placaRules: [v => !!v || "Cammpo placa é obrigatório"],
      placa: "",
      typeMsg: "",
      msgApi: "",
      loading: false
    };
  },
  methods: {
    cadastro() {
      this.loading = true;

      let dados = {
        username: this.username,
        name: this.name,
        password: this.password,
        documento: this.documento,
        veiculo_name: this.veiculo_name,
        placa: this.placa
      };

      this.$http
        .post(`${process.env.VUE_APP_ROOT}/user/add`, dados)
        .then(res => {
          let retorno = res.data;
          if (!retorno.ok) {
            this.validatorMsg("warning", "ocorreu algo inesperado");
          }
          this.validatorMsg("success", "cadastrado com sucesso");
        })
        .catch(e => {
          if (e.response) {
            console.log(e.response.status);
            switch (Number(e.response.status)) {
              case 401:
                this.validatorMsg(
                  "warning",
                  "Acesso não autorizado, favor logar novamente"
                );
                break;
              case 500:
                this.validatorMsg(
                  "error",
                  "Ocorreu um erro de processamento na api"
                );
                break;
              case 415:
                this.validatorMsg(
                  "warning",
                  "Verique o tipo de metodo e paramentos enviados"
                );
                break;
            }
          }
          console.error("Excecao ao cadastrar dados", e.message);
        })
        .finally(() => ((this.loading = false)));
    },
    validatorMsg(tipo, msg) {
      if (tipo != null && msg != null) {
        this.msgApi = msg;
        this.typeMsg = tipo;
      } else {
        this.msgApi = "Você realizou processo não mapeado";
        this.typeMsg = "info";
      }
      //success info  warning  error
    }
  }
};
</script>

<style lang="scss" scoped>
</style>