<template>
  <div class="home">
    <Nav />
    <v-container>
      <v-card max-width="400" class="mx-auto">
        <v-img :src="urlHome" height="200"></v-img>

        <!-- <v-card-text>Visit ten places on our planet that are undergoing the biggest changes today.</v-card-text> -->

        <!-- <v-card-actions>
          <v-btn text color="deep-purple accent-4">Read</v-btn>
          <v-btn text color="deep-purple accent-4">Bookmark</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-share-variant</v-icon>
          </v-btn>
        </v-card-actions> -->
      </v-card>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/shared/_Nav";
export default {
  name: "Home",
  components: {
    Nav
  },
  data() {
    return {
      urlHome: `${process.env.VUE_APP_ROOT}/img/band_ma.png`
    };
  },
  methods: {}
};
</script>
