<template>
  <v-container>
    <loading :active.sync="loading"></loading>
    <v-row>
      <v-col cols="12">
        <v-img :src="imgBgn" class="my-3" contain height="200" />
      </v-col>
      <v-col class="mb-4">
        <h1 class="display-1 font-weight-bold mb-3 text-center">Bem vindo ao gcheck</h1>
        <div lazy-validation>
          <v-col cols="10" style="margin:auto">
            <v-text-field v-model="username" :rules="usernameRules" label="Seu usúario" required></v-text-field>
          </v-col>

          <v-col cols="10" style="margin:auto">
            <v-text-field
              v-model="password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passRules"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Digite sua senha"
              hint="Mínimo 6 caracteres"
              counter
              @click:append="show1 = !show1"
              @keyup.enter="login"
            ></v-text-field>

            <v-btn color="success" v-if="password" class="mr-4" @click="login">Logar</v-btn>
          </v-col>
        </div>
      </v-col>
    </v-row>
    <v-col cols="10" style="margin:auto">
      <p class="subheading font-weight-regular">
        Não possui login ?? clique ,
        <router-link to="/cadastro">aqui </router-link>para cria-lo.
      </p>
    </v-col>

    <v-alert v-if="msgApi" :type="typeMsg">{{msgApi}}</v-alert>
  </v-container>
</template>

<script>
// Import component
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    Loading
  },
  data() {
    return {
      typeMsg: "",
      loading: false,
      msgApi: "",
      usernameRules: [v => !!v || "Usúario é obrigatório"],
      username: "",
      passRules: [v => !!v || "Usúario é obrigatório"],
      password: "",
      show1: false,
      imgBgn: `${process.env.VUE_APP_ROOT}/img/bgn_login.jpg`
    };
  },
  methods: {
    login() {
      this.loading = true;
      if (this.username !== "") {
        let _dados = {
          username: this.username,
          password: this.password
        };

        this.$axios
          .post(`${process.env.VUE_APP_ROOT}/user/auth`, _dados)
          .then(e => {
            let resultado = e.data;
            if (resultado.token) {
              sessionStorage.setItem("username", JSON.stringify(this.username));
              sessionStorage.setItem("jwt", JSON.stringify(resultado.token));
              if (sessionStorage.getItem("jwt") != null) {
                this.$emit("loggedIn");
                if (this.$route.params.nextUrl != null) {
                  this.$router.push(this.$route.params.nextUrl);
                } else {
                  this.$router.push("/");
                }
              }
            } else {
              this.validatorMsg("info", resultado.message.error);
            }
          })
          .catch(e => {
            console.info("Excecao ao logar", e.message);
          })
          .finally(() => ((this.loading = false), (this.password = "")));
      } else {
        this.validatorMsg("warning", "favor preencha o usuario");
        this.loading = false;
      }
    },
    validatorMsg(tipo, msg) {
      if (tipo != null && msg != null) {
        this.msgApi = msg;
        this.typeMsg = tipo;
      } else {
        this.msgApi = "Você realizou processo não mapeado";
        this.typeMsg = "info";
      }
      //success info  warning  error
    }
  }
};
</script>

<style lang="scss" scoped>
</style>